@tailwind base;
@tailwind components;
@tailwind utilities;
    

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body, #root {
    height: 100%;
}

#root{
    display: flex;
    flex-direction: column;
}
h1{
    color: slateblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}
.header{
    display: flex;
    flex-direction: row;    
    align-items: center;
}
.barra{
    display: flex;
    align-items: flex-start;
    
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: lightcoral;
}
.oscuro{
    background-color: gray;
    color: white;
}